.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Add the slow background movement animation */
@keyframes backgroundMove {
  0% { transform: translateX(0); }
  100% { transform: translateX(-20%); }
}

.animation-backgroundMove {
  animation: backgroundMove 60s linear infinite;
}

/* Add the border animation */
@keyframes borderCircle {
  0% { border-color: transparent; }
  25% { border-color: green; }
  50% { border-color: green; }
  100% { border-color: transparent; }
}

.card:hover {
  animation: borderCircle 2s linear;
}
